<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="template/master.css" type="text/css" rel="stylesheet" />
        <title>nth.CMS [[cmstitle]]</title>
    </head>
    <body onload="">
        <div id="wrap">
            <div id="topBar">
                &nbsp;
            </div>
            <div id="whiteContainerM">
                <div id="top"><img src="template/images/cmsLogo.gif" alt="[[cmstitle]]"/></div>
                <h3>[*title*]</h3>
                [*tresc*]
            </div>
            <div id="bottomSpace"><br />
                <br />
                <br />
                &nbsp;<br />
                <br />
            </div>
        </div>
    </body>
</html>